
<html>
  <head>
    <table>
      <tr><td>Event name : <%= @event.name %></td></tr>
      <tr><td>Event Start : <%= @event.start_time.strftime("%H:%M") %></td>
      <tr><td>Event End : <%= @event.end_time.strftime("%H:%M") %></td>
      <tr><td>Event Description : <%= @event.description %></td>
      </tr>
    </table>
  </body>
</head>
</html>




